---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="thanks-page">
    <div>
      <h1>Has llamado a la puerta del castillo</h1>

      <p>
        Ahora solo falta que te reconozcan. Te acabo de enviar un email
        con un enlace. Pulsa el bot&oacute;n que encontrar&aacute;s dentro
        y estar&aacute;s dentro del reino.
      </p>

      <p>
        Si no lo ves, revisa la carpeta de spam. A veces los centinelas
        se confunden.
      </p>

      <p class="thanks-ps">
        Nos vemos dentro<br />
        Rey
      </p>
    </div>
  </div>
</Layout>
